<nav class="navbar">
  <div class="logo-wrapper">
    <a href="/"><i class="fa-solid fa-eye"></i></a>
  </div>
  <ul class="menu">
    <li><a href="/">home</a></li>
    <li><a href="/store">store</a></li>
    <li><a href="/about">about</a></li>
    <li>
      <a href="/user/login"><i class="fa-solid fa-user"></i></a>
    </li>
    <li>
      <a href="/user/favourites"><i class="fa-solid fa-heart"></i></a>
    </li>
    <li>
      <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
    </li>
  </ul>
</nav>
