<nav class="navbar">
  <div class="logo-wrapper">
    <a href="/" class="logo-link"><i class="fa-solid fa-palette"></i></a>
  </div>
  <ul class="menu">
    <li class="menu-item"><a href="/" class="menu-link">home</a></li>
    <li class="menu-item"><a href="/store" class="menu-link">store</a></li>
    <li class="menu-item"><a href="/about" class="menu-link">about</a></li>
    <% if(authenticated){ %>
    <li class="menu-item menu-item-user">
      <a href="/user" class="menu-link"><i class="fa-solid fa-user"></i></a>
      <ul class="dropdown-menu">
        <li class="dropdown-menu-item">
          <a href="/user" class="dropdown-menu-link">Profile</a>
        </li>
        <li class="dropdown-menu-item">
          <a href="/user/orders" class="dropdown-menu-link">Orders</a>
        </li>
        <li class="dropdown-menu-item">
          <a href="/user/favourites" class="dropdown-menu-link">Favourites</a>
        </li>
        <li class="dropdown-menu-item">
          <a href="/user/logout" class="dropdown-menu-link">Log out</a>
        </li>
      </ul>
    </li>
    <% }else { %>
    <li class="menu-item menu-item-user">
      <a href="/user/login" class="menu-link">
        <i class="fa-solid fa-user"></i>
      </a>
      <ul class="dropdown-menu">
        <li class="dropdown-menu-item">
          <a href="/user/login" class="dropdown-menu-link">Login</a>
        </li>
      </ul>
    </li>
    <% } %>
    <li class="menu-item">
      <a href="/user/favourites" class="menu-link">
        <i class="fa-solid fa-heart"></i>
      </a>
    </li>
    <li class="menu-item">
      <a href="/cart" class="menu-link">
        <i class="fa-solid fa-cart-shopping"><sup class="menu-icon-shopping-cart-quanity"><%= typeof cartQuanity != 'undefined' ? cartQuanity : '' %></sup></i>
      </a>
    </li>
  </ul>
</nav>
