<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/headConfig') %>
    <link rel="stylesheet" href="../public/styles/store.css" />
    <title>store</title>
  </head>

  <body>
    <div class="container">
      <%- include('../partials/navbar') %>
      <main class="main">
        <section class="product-categories-wrapper">
          <div class="card">
            <a href="" class="card-link-wrapper">
              <img
                src="../public/images/store/product-categories/painting.jpg"
                alt="painting"
                class="card-image"
              />
              <div class="card-info">
                <h4 class="card-product-category-name">art</h4>
                <p class="card-product-category-desc">
                  descdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdesc
                </p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="" class="card-link-wrapper">
              <img
                src="../public/images/store/product-categories/sculpture.jpg"
                alt="painting"
                class="card-image"
              />
              <div class="card-info">
                <h4 class="card-product-category-name">art</h4>
                <p class="card-product-category-desc">
                  descdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdescdesc
                </p>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="" class="card-link-wrapper">
              <img
                src="../public/images/store/product-categories/literature.jpg"
                alt="painting"
                class="card-image"
              />
              <div class="card-info">
                <h4 class="card-product-category-name">art</h4>
                <p class="card-product-category-desc">ssadsdas</p>
              </div>
            </a>
          </div>
        </section>
        <section class="products-wrapper"></section>
      </main>
    </div>
    <%- include('../partials/footer') %> <%-
    include('../partials/scriptsConfig') %>
  </body>
</html>
