.delivery-payment-form {
  width: 100%;
  display: grid;
  grid-template-columns: 0.25fr 4fr 2fr 0.25fr;
  grid-template-rows: auto;
  grid-template-areas:
    ".  delivery info ."
    ".  address info ."
    ".  payment info .";
  column-gap: 1em;
  row-gap: 1em;
  .order-info {
    grid-area: info;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px solid #000000;
    border-radius: 10px;
    .ordered-products-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      .product {
        padding: 0.5em;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #000000;
        .product-image-link {
          .product-image {
            height: 60px;
            width: 40px;
            border-radius: 5px;
            object-fit: cover;
          }
        }
        .product-name-amount-wrapper {
          margin-right: 1em;
          margin-left: 1em;
          display: flex;
          flex-direction: column;
          .product-name {
            text-decoration: none;
            transition: text-decoration 0.2s ease;
            color: #000000;
            &:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
              text-decoration-color: #000000;
            }
          }
          .product-amount {
          }
        }
        .product-price {
          margin-left: auto;
        }
      }
    }
    .choosen-shipping {
      font-size: 0.95em;
      padding-right: 1em;
      padding-left: 1em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .choosen-payment {
      font-size: 0.95em;
      padding-right: 1em;
      padding-left: 1em;
      margin-bottom: 1em;
    }
    .total-price {
      font-size: 1.2em;
      text-align: center;
      padding-right: 1em;
      padding-left: 1em;
      margin-bottom: 1em;
    }
    .button-wrapper {
      padding-right: 1em;
      padding-left: 1em;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .submit-button {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        width: 100%;
        border: none;
        padding: 1.25em 1.25em;
        border-radius: 5px;
        background-color: #892cdc;
        color: white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .delivery-wrapper {
    padding: 1em;
    grid-area: delivery;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 10px;
    .form-heading {
      margin-bottom: 0.5em;
    }
    .radio-wrapper {
      .radio {
        accent-color: #892cdc;
      }
      .radio-label {
      }
      .radio,
      .radio-label {
        cursor: pointer;
      }
    }
  }
  .address-wraper {
    padding: 1em;
    grid-area: address;
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-heading {
      margin-bottom: 0.5em;
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 1em;
      &:first-child {
        margin: 0;
      }
      .input-label {
        color: #676767;
      }
      .input {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        padding: 0.2em;
        border: 2px solid #000000;
        outline: none;
        width: 450px;
      }
    }
  }
  .payment-warapper {
    padding: 1em;
    grid-area: payment;
    border: 2px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .form-heading {
      margin-bottom: 0.5em;
    }
    .radio-wrapper {
      .radio {
        accent-color: #892cdc;
      }
      .radio-label {
      }
      .radio,
      .radio-label {
        cursor: pointer;
      }
    }
  }
}
